### maven ignore
target/
!.mvn/wrapper/maven-wrapper.jar

### eclipse ignore
.settings/
.project
.classpath

### idea ignore
.idea/
*.ipr
*.iml
*.iws

### temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

### system ignore
.DS_Store
Thumbs.db

### project ignore
**/tmp
pom.xml.versionsBackup

### STS ignore
.apt_generated
.factorypath
.settings
.springBeans

### NetBeans ignore
nbproject/private/
build/
nbbuild/
#dist/
nbdist/
.nb-gradle/